/* ReviewsProduct.css */

/* Styl dla całego komponentu ReviewsProduct */
.ReviewsProduct {
    padding: 20px;
    justify-content: center;
}

.ReviewsProduct h1 {
    font-size: 24px;
    margin-bottom: 20px;
}

/* Styl dla przycisku "Add Review" */
.ReviewsProduct .add-review-btn {
    padding: 10px;
    background-color: #e67e22;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

.ReviewsProduct .add-review-btn:hover {
    background-color: #d35400;
}

/* Styl dla recenzji */
.ReviewsProduct .review-container {
    margin-top: 20px;
}

.ReviewsProduct .review {
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 15px;
    margin-bottom: 10px;
}

.ReviewsProduct .review p {
    margin: 0;
}

/* Dodaj poniższy kod do odpowiedniego renderowania gwiazdek */
.ReviewsProduct .star-rating {
    display: flex;
    margin-bottom: 10px;
}

.ReviewsProduct .star-rating label {
    font-size: 20px;
    color: #e67e22;
    margin-right: 5px;
}

.ReviewsProduct .star-rating .star-filled {
    color: #e67e22;
}
.ReviewsProduct .OneReview {
    border-bottom: 1px solid #e67e22;
    margin-bottom: 10px;
}

/* Styl dla modala */
.ReactModal__Content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 400px;
    width: 100%;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    border-radius: 8px;
}

.ReactModal__Content h2 {
    font-size: 20px;
    margin-bottom: 15px;
}

.ReactModal__Content label {
    display: block;
    margin-bottom: 8px;
}

.ReactModal__Content .star-rating {
    margin-bottom: 15px;
    display: flex;
}

.ReactModal__Content .star-rating label {
    font-size: 30px;
    color: #e67e22;
    margin-right: 5px;
}

.ReactModal__Content .star-rating label:last-child {
    margin-right: 0;
}

.ReactModal__Content .star-rating label.star-filled {
    color: #e67e22;
}

.ReactModal__Content textarea {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 15px;
}

.ReactModal__Content button {
    padding: 10px;
    margin-right: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.ReactModal__Content button:last-child {
    margin-right: 0;
}

.ReactModal__Overlay {
    opacity: 0;
    transition: opacity 200ms ease-in-out;
}

.ReactModal__Overlay--after-open {
    opacity: 1;
}

.ReactModal__Overlay--before-close {
    opacity: 0;
}

