.product-details {
    display: flex;
    flex-direction: column;
    border: 1px solid #ddd;
    margin-bottom: 20px;
    padding: 10px;
}

.product-info {
    border-bottom: 1px solid #ddd;
    padding: 10px 0;
}

.cancel-button-container {
    display: flex;
    justify-content: flex-end;
}

.cancel-button {
    background-color: #f44336;
    color: white;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}
