.menu {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 20px;
}

.menu button {
    flex: 1;
    padding: 10px;
    margin: 0 10px;
    background-color: #007BFF;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.menu button:hover {
    background-color: #0056b3;
}