.menu {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 20px;
}

.menu button {
    flex: 1;
    padding: 10px;
    margin: 0 10px;
    background-color: #007BFF;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.menu button:hover {
    background-color: #0056b3;
}
.selectboxes {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.selectbox {
    display: flex;
    align-items: center;
    gap: 30px;
}

    .selectbox p {
        margin: 0;
    }

.selectboxes button {
    margin-top: 20px;
}