body {
    overflow-x: hidden;
  }
  
  .profile-menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 70px;
    height: 100%;
    background: #E67E22;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding-top: 20px;
    z-index: 100;
  }
  
  .menu-item {
    color: white;
    text-decoration: none;
    margin-bottom: 45px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
  }
  
  .menu-item ion-icon {
    font-size: 32px;
  }
  
  .menu-item::before {
    content: '';
    width: 0;
    height: 2px;
    background: white;
    transition: .3s;
    position: absolute;
    top: 115%;
    left: 50%;
    transform: translateX(-50%);
  }
  
  .menu-item:hover::before {
    width: 100%;
  }
  
  .profile-container {
    margin-left: 70px;
    padding: 20px;
    background: #f7d8be;
    z-index: 99;
  }