@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;400;500;600;700;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}


body {
    background-color: #E67E22;
    background: linear-gradient(to right, #e2e2e2, #f7d8be);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
}

.container {
    background-color: #fff;
    border-radius: 30px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.35);
    position: center;
    overflow: hidden;
    width: 768px;
    max-width: 100%;
    min-height: 480px;
}

.parent-container {
    position: center;
}

.error-container {
    position: absolute;
    top: 0;
    width: 300px;
    border-radius: 20px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.15);
    padding: 20px;
    font-family: 'Montserrat', sans-serif;
    background-color: #E67E22;
    border: 1px solid #ff0000;
}

    .error-container.right {
        right: -350px;
    }

    .error-container table td {
        padding: 5px;
        border-radius: 8px;
        color: white;
    }
