.adminsidebar {
    background-color: #fff;
    display: flex;
    flex-direction: column;
    border-radius: 15px;
    height: 88vh;
    width: 15vw;
    position: absolute;
    left: 10px;
    top: 100px;
    transition: all 0.3s ease;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.35);
}

.adminsidebar p {
    display: flex;
    align-items: center;
    color: var(--color-info-dark);
    height: 3.7rem;
    gap: 1rem;
    position: relative;
    margin-left: 1rem;
    transition: all 0.3s ease;
}

.adminsidebar p span {
    font-size: 1.6rem;
    transition: all 0.3s ease;
}

.adminsidebar p.active {
    width: 100%;
    color: var(--color-primary);
    background-color: var(--color-light);
    margin-left: 0;
}

.adminsidebar p.active::before {
    content: '';
    width: 6px;
    height: 18px;
    background-color: var(--color-primary);
}

.adminsidebar p.active span {
    color: var(--color-primary);
    margin-left: calc(1rem - 3px);
}

.adminsidebar p:hover {
    color: var(--color-primary);
}

.adminsidebar p:hover span {
    margin-left: 0.6rem;
}

.adminsidebar .message-count {
    background-color: var(--color-danger);
    padding: 2px 6px;
    color: var(--color-white);
    font-size: 11px;
    border-radius: var(--border-radius-1);
}

.adminlist {
    background-color: #fff;
    table-layout: fixed;
    overflow: auto;
    border-radius: 15px;
    max-height: 880px;
    width: 83vw;
    position: absolute;
    left: 310px;
    top: 100px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.35);
}

.adminlist thead {
    font-weight: bold;
}

.adminlist td {
    margin-left: 5px;
    text-overflow: ellipsis;
}

.adminlist td.clickable {
    text-decoration: underline;
}

.adminlist td.clickable:hover {
    color:rgb(172, 28, 28);
}