
@media screen and (min-resolution: 120dpi) {
    .main-page {
        zoom: 0.8;
    }
}


.product-list-container {
    width: calc(325px * 4 + 100px);
    margin: 0 auto;
    padding: 10px;
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: flex-start;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 100px;
    z-index: 1;
}

.product-list-row {
    display: flex;
    justify-content: space-between;
}



.www {
    display: flex;
    flex-direction: column;;
    padding-bottom: 0px;
}